%body
  .chat__main
    .chat__main__group-info
      .chat__main__group-info__left
        %h1.chat__main__group-info__left_top
          test
        %p.chat__main__group-info__left_bottom
          member:kk
      .chat__main__group-info__right
        %a.chat__main__group-info__right_edit
          Edit
    .chat__main__message-list
      .chat__main__message-list__container
        .chat__main__message-list__container__top
          .chat__main__message-list__container__top_name
            %p kk
          .chat__main__message-list__container__top_daytime
            %p 2019/11/20(wed) 17:43:01
        .chat__main__message-list__container__bottom
          = render @messages
      .chat__main__message-list__container
        .chat__main__message-list__container__top
          .chat__main__message-list__container__top_name
            %p__name kk
          .chat__main__message-list__container__top_daytime
            %p__daytime 2019/11/20(wed) 17:43:34
        .chat__main__message-list__container__bottom
          %p__comment 今日は夜から雨
    .chat__main__message-form
      .chat__main__message-form__container
        = form_for [@group, @message],html:{class:"chat__main__message-form__container__messages"} do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          -# .chat__main__message-form__container__messages_iconbox
          = f.label :image, class: 'chat__main__message-form__container__messages_icon fa-2x' do
            = icon('fas', 'image', class: 'chat__main__message-form__container__messages_image')
            = f.file_field :image, class: 'chat_main__message-form__container__messages_text'
          = f.submit 'Send', class: 'chat__main__message-form__container__send'


