%body
  .chat__main
    .chat__main__group-info
      .chat__main__group-info__left
        %h1.chat__main__group-info__left_top
          = @group.name
        %p.chat__main__group-info__left_bottom
          - @group.users.each do |user|
            =user.name
      .chat__main__group-info__right
        = link_to edit_group_path(@group.id),class:"chat__main__group-info__right_edit" do
          Edit
    .chat__main__message-list
      = render @messages
    .chat__main__message-form
      .chat__main__message-form__container
        = form_for [@group, @message],html:{class:"chat__main__message-form__container__messages"} do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          = f.label :image, class: 'chat__main__message-form__container__messages_icon fa-2x' do
            = icon('fas', 'image', class: 'chat__main__message-form__container__messages_image')
            = f.file_field :image, class: 'chat_main__message-form__container__messages_text'
          = f.submit 'Send', class: 'chat__main__message-form__container__send'


