%body
  .side__bar
    .side__bar__header
      .side__bar__header__box
        %p.side__bar__header__box_name
          = current_user.name
        %ul.side__bar__header__box_group
          %li.side__bar__header__box_group_edit
          = link_to new_group_path do
            = icon('fas','edit',class: 'side__bar__header__box_group_edit-icon1')
          %li.side__bar__header__box_group_menu
          = link_to edit_user_path(current_user) do
            = icon('fas','cog',class: 'side__bar__header__box_group_menu-icon2')
    .side__bar__group-list
      - current_user.groups.each do |group|
        .side__bar__group-list__group
          = link_to group_messages_path(group) do
            .side__bar__group-list__group_names
              = group.name
            .side__bar__group-list__group_messages
              = group.show_last_message
      .side__bar__group-list__group