#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h2 Create Account
      %h5 新規アカウントの作成
      = render "devise/shared/links"
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          .field-label
            = f.label :アカウント名, id: 'label_font'
          .field-input
            = f.text_field :name, autofocus: true, placeholder: 'アカウント名を入力してください'
        .field
          .field-label
            = f.label :email, id: 'label_font'
          .field-input
            = f.email_field :email, placeholder: 'メールアドレスを入力してください'
        .field
          .field-label
            = f.label :password, id: 'label_font'
            %i#label_font (英数字8文字以上)
          .field-input
            = f.password_field :password, autocomplete: "off", placeholder: 'パスワードを入力してください'
        .field
          .field-label
            = f.label :password_confirmation, id: 'label_font'
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'もう一度パスワードを入力してください'
        .actions
          = f.submit "Create Account", class: 'btn', id: 'signup-btn'
